[Unit]
Description=KingDNS DNS Engine
After=network.target

[Service]
WorkingDirectory=/opt/kingdns/dns-engine
ExecStart=/usr/local/go/bin/go run ./cmd/server
Restart=always
User=root

[Install]
WantedBy=multi-user.target
